.collection-item {
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;

    .image {
        width: 100%;
        height: 95%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
        position: relative;
        transition: all .5s;
        //   cursor: pointer;


        &:hover .collection-item__btn-cart-adder {
            visibility: visible;
            opacity: 1;
        }

        &:hover {
            filter: brightness(.7);
        }
    }

    &__btn-cart-adder {
        display: inline-block;
        font-family: sans-serif;
        text-transform: uppercase;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.2em;
        cursor: pointer;
        border: none;
        color: white;
        width: 80%;
        position: absolute;
        z-index: 1;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
        padding: 10px 20px;
        opacity: 0;
        transition: all .2s;
        background-color: rgba(13, 11, 29, .7);

        &:hover {
            background-color: rgba(white, .7);
            color: black;
            border: none;
            outline: none;
            filter: brightness(110%);
        }

        &:active,
        &:focus{
            outline: none;
        }
    }

    .collection-footer {
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-between;
        font-size: 18px;

        .name {
            width: 90%;
            margin-bottom: 15px;
        }

        .price {
            width: 10%;
        }
    }
}