.menu-item {
    position: relative;
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    cursor: pointer;
    -moz-transition: all 1s;
    transition: all 1s;
    overflow: hidden;
    // backface-visibility: hidden;


    &:hover .content {
        opacity: .9;
    }

    &:hover .backgroundimage{
        -moz-transform: scale(1.1);
        transform: scale(1.1);
    }

    &.large {
        height: 380px;
    }

    &:first-child {
        margin-right: 7.5px;
    }

    &:last-child {
        margin-left: 7.5px;
    }

    .content {
        background-color: white;
        opacity: .7;
        height: 90px;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // border: 1px solid black;
        transition: all 1s;
        text-transform: uppercase;

        .title {
            font-weight: bold;
            margin-bottom: 6px;
            font-size: 22px;
            color: #4a4a4a;
            font-family: 'Open Sans Condensed', sans-serif;
        }

        .subtitle {
            font-weight: lighter;
            font-size: 16px;
            font-family: 'Open Sans Condensed', sans-serif;
            letter-spacing: 1.5;

        }
    }

    .backgroundimage {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-size: cover;
        background-position: center;
        // z-index: 10;
        -moz-transition: all 1s ease;
        transition: all 3s ease;
        // backface-visibility: hidden;
        transform: scale(1);
    }
}